/* #game div { */
/* border: 1px solid black; */
/* width: 20%; */
/* height: 80px; */
/* margin: 10px; */
/* display: inline-block; */
/* } */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  font-size: 18px;
}
.intro {
  height: 100vh;
  background-color: #79c2ac;
  align-items: center;
  text-align: center;
}
.intro-heading {
  padding-top: 20px;
  margin: 0 auto;

  color: #e27d5f;
  font-size: 4em;
  font-weight: bolder;
}
form {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}

.qwe {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #023870;
}

#game {
  min-width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #54e090;
  justify-content: center;
  perspective: 1000px;
}
.tile {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: coral; */
  margin: 8px;
  /* background-color: transparent; */
  /* border: 1px solid #f1f1f1; */
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.tile24 {
  width: 20%;
  max-height: 14%;
}
.tile8 {
  width: 45%;
  max-height: 20%;
}
.tile12 {
  width: 30%;
  max-height: 20%;
}
.tile16 {
  width: 20%;
  max-height: 20%;
}
.img {
  width: 100%;
  height: 100%;
}
.img24 {
  width: 70%;
  height: 100%;
  /* margin-left: 15%; */
}
.card-text {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
.card-text-8 {
  font-size: 1.5em;
}
.card-text-12 {
  font-size: 1.2em;
}
.card-text-12 {
  font-size: 1em;
}
.card-text-24 {
  font-size: 0.8em;
}

.tile:active {
  transform: scale(0.95);
  transition: transform 0.5s;
  /* transform: rotateY(180deg); */
}

.tile.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  position: absolute;
  border-radius: 5px;
  background: #023870;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
